.admin-categories {
  font-size: 20px;
  color: rgba(0, 130, 29, 0.7);
  text-decoration: none;
}

.admin-categories:hover {
  color: rgba(0, 130, 29, 1);
  transition: ease-in-out 200ms;
  text-decoration: none;

}